torch~=2.2.2
numpy~=1.26.4
transformers~=4.48.1
tqdm~=4.67.1
scikit-learn~=1.6.1
opencv-python~=4.11.0.86
motor~=3.6.1
pydantic~=2.10.5
PyJWT~=2.10.1
fastapi~=0.115.7
scipy~=1.15.1
mediapipe~=0.10.20
torchaudio~=2.5.1
setuptools~=70.0.0
librosa~=0.10.2.post1
soundfile~=0.13.1
fer~=22.5.1
matplotlib~=3.10.0
psutil~=6.1.1
seaborn~=0.13.2
sounddevice~=0.5.1